<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* CSS code */

/* Reset default margin and padding */
body, h1 {
  margin: 0;
  padding: 0;
}

/* Center the heading */
h1 {
  text-align: center;
}

/* Add some styles to the heading */
h1 {
  font-size: 24px;
  color: #333;
  margin-top: 50px;
}

    </style>
</head>
<body>
    <h1>Welcome to the Home page.</h1>
</body>
</html>